h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 50%;
  margin: 50px auto 50px auto;
}

ul{
  font-family: monospace;
  /* border: 1px solid black; */
  width: 40%;
  margin: auto;
  list-style-type: none;
}

li{
  margin: 15px 0;
}

.newInput{
  text-align: center;
  margin: 50px auto 50px auto;
}

input{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  width: 300px;
}

.addButton{
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  color: #2e3038;
  border: 1px solid #5582ed;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px 20px 6px 20px;
  text-align: center;
  transition: 0.3s;

}

.addButton:hover{
  background-color: #5582ed;
  border: white;
  color: white;
}
